<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

   <style>

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        textarea,
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
        }

        textarea {
            resize: none;
        }

        input[type="radio"] {
            margin: 0;
            accent-color: #45a049;
            /* Cambia el color del círculo si lo prefieres */
            transform: scale(1.2); /* Agranda el círculo a un 120% del tamaño original */
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin-bottom: 10px;
        }


    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="index">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="catalogo">Catálogo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Categorías</a></li>
                </ul>
                <a class="btn btn-outline-success" href="sesion" role="button">Iniciar sesión</a>
                <a class="btn btn-outline-success" href="sesion" role="button">Registrarse</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1 style="text-align: center; font-family: Arial, sans-serif; font-size: 2.5rem; color: #333; margin-bottom: 20px; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);font-weight: bold;">
            Orden de Compra</h1>
        <div class="form-container">
            <!-- Dirección de Facturación -->
            <div class="form-section">
                <h2>Dirección de Facturación</h2>
                <form id="form-facturacion">
                    <div class="form-group">
                        <label for="nombre-facturacion">Nombre</label>
                        <input type="text" id="nombre-facturacion" placeholder="Ingrese nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellido-facturacion">Apellido</label>
                        <input type="text" id="apellido-facturacion" placeholder="Ingrese apellido">
                    </div>
                    <div class="form-group">
                        <label for="compania-facturacion">Compañía</label>
                        <input type="text" id="compania-facturacion" placeholder="Opcional">
                    </div>
                    <div class="form-group">
                        <label for="direccion-facturacion">Dirección</label>
                        <input type="text" id="direccion-facturacion" placeholder="Ingrese su dirección">
                    </div>
                    <div class="form-group">
                        <label for="ciudad-facturacion">Ciudad</label>
                        <input type="text" id="ciudad-facturacion" placeholder="Ingrese ciudad">
                    </div>
                    <div class="form-group">
                        <label for="email-facturacion">Email</label>
                        <input type="email" id="email-facturacion" placeholder="Ingrese su correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="telefono-facturacion">Teléfono</label>
                        <input type="tel" id="telefono-facturacion" placeholder="Ingrese teléfono">
                    </div>
                </form>
            </div>
            <!-- Dirección de Envío -->
            <div class="form-section">
                <h2>Dirección de Envío</h2>
                <form id="form-envio">
                    <div class="form-group">
                        <label for="nombre-envio">Nombre</label>
                        <input type="text" id="nombre-envio" placeholder="Ingrese nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellido-envio">Apellido</label>
                        <input type="text" id="apellido-envio" placeholder="Ingrese apellido">
                    </div>
                    <div class="form-group">
                        <label for="compania-envio">Compañía</label>
                        <input type="text" id="compania-envio" placeholder="Opcional">
                    </div>
                    <div class="form-group">
                        <label for="direccion-envio">Dirección</label>
                        <input type="text" id="direccion-envio" placeholder="Ingrese dirección">
                    </div>
                    <div class="form-group">
                        <label for="ciudad-envio">Ciudad</label>
                        <input type="text" id="ciudad-envio" placeholder="Ingrese ciudad">
                    </div>
                    <div class="form-group">
                        <label for="email-envio">Email</label>
                        <input type="email" id="email-envio" placeholder="Ingrese su correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="telefono-envio">Teléfono</label>
                        <input type="tel" id="telefono-envio" placeholder="Ingrese su teléfono">
                    </div>
                </form>
            </div>
        </div>

        <div class="order-summary">
            <!-- Resumen del pedido -->
            <div class="order-details">
                <h2>Tu Pedido</h2>
                <ul>
                    <li>
                        <span>Producto 1:</span>
                        <span>Descripción breve del producto</span>
                        <span>Cantidad: 2</span>
                    </li>
                    <li>
                        <span>Producto 2:</span>
                        <span>Descripción breve del producto</span>
                        <span>Cantidad: 1</span>
                    </li>
                </ul>
            </div>

            <!-- Totales -->
            <div class="cart-totals">
                <h2>Totales del Carrito</h2>
                <p>Subtotal: <span>$186.06</span></p>
                <p>Envío: <span>$0.00</span></p>
                <p>Total: <span>$186.06</span></p>
                <h3 style="margin-bottom: 25px; margin-top: 20px;">Opciones de Pago:</h3>
                <form>
                    <label class="payment-option">
                        <input type="radio" name="pago" value="transferencia">
                        Transferencia Bancaria
                    </label>
                    <br>
                    <label class="payment-option">
                        <input type="radio" name="pago" value="tarjeta">
                        Pago con Tarjeta
                    </label>
                    <br>
                    <label class="payment-option">
                        <input type="radio" name="pago" value="mercado pago">
                        Mercado Pago
                    </label>
                </form>
                <div class="botonesOrden">
                    <button class="btn-realizar-pedido">Realizar Pedido</button>
                    <button class="btn-cancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Tienda Ecológica. Todos los derechos reservados.</p>
        <a href="#">Política de privacidad</a> | <a href="#">Términos y condiciones</a>
    </footer>

</body>

</html>